.modal-dialog {
    position: absolute;
    z-index: 9;
    margin-left: 30%;
    width: 40%;
    opacity: 0.5;
    margin-top: 10%;
}

.modal-body {
    font-size: 384px;
    padding: 0px;
    margin: 0 20%;
}
